%div{id: "#{dom_id(task)}"}
  %p
    %strong Subject:
    = task.subject
  %p
    %strong Description:
    = task.description
  %p
    %strong User:
    = task.user_id
  %p
    %strong Project:
    = task.project_id
