.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    = link_to 'Project management system', root_path, class: "navbar-brand"
    %button.navbar-toggler{"type": "button", "data-bs-toggle": "collapse", "data-bs-target": "#navbarSupportedContent", "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      - if user_signed_in?
        %ul.navbar-nav
          %li.nav-item
            = link_to 'Projects', projects_path, class: "nav-link"
        %ul.navbar-nav
          %li.nav-item
            = link_to 'Users', users_path, class: "nav-link"
        %ul.navbar-nav
          %li.nav-item
            = link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link"
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to 'Edit profile', edit_user_registration_path, class: "nav-link"
      - else
        %ul.navbar-nav
          %li.nav-item
            = link_to 'Sign up', new_user_registration_path, class: "nav-link"
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to 'Sign in', new_user_session_path, class: "nav-link"
      %form.d-flex
      -if user_signed_in?
        - if current_user.name and current_user.surname
          %b= current_user.name + " " +current_user.surname
        - if current_user.image.attached?
          = image_tag(current_user.image, class: "mw-100 rounded-circle object-fit-cover border border-5 border-success", style: "height: 50px; width:50px; margin: 0 50px 0 15px;")
          %br/
        - else